[Desktop Entry]
Version=2.2
Type=Application
Name=TVwhere
GenericName=IPTV Player
Comment=Cross-platform IPTV Player
Exec=env PYTHONPATH=/home/sadaf/TVwhere python3 -m tvwhere --desktop
Icon=/home/sadaf/TVwhere/assets/icon.png
Terminal=false
Categories=AudioVideo;Video;Player;
Keywords=tv;iptv;live;stream;
StartupWMClass=tvwhere
