[Desktop Entry]
Name=TVwhere
Comment=Minimalist IPTV Player
Exec=python3 -m tvwhere
Icon=assets/icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
Keywords=tv;iptv;live;stream;
StartupWMClass=tvwhere
